<mat-card>
  <mat-card-content>

      <h2>Change Password</h2>
      <!-- <mat-error *ngIf="loginInvalid">
        The username and password were not recognised
      </mat-error> -->
      <mat-form-field appearance="outline" class="full-width-input">
        <mat-label>New Password</mat-label>
        <input matInput placeholder="New Password" [(ngModel)]="changePassword.newPassword" type="password" name="newPassword" required>
      </mat-form-field>
      <mat-form-field appearance="outline" class="full-width-input">
        <mat-label>Confirm Password</mat-label>
        <input matInput placeholder="Confirm New Password" [(ngModel)]="changePassword.comfirmPassword" type="password" name="confirmNewPassword" required>
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="changePasswordMethod()">Change Password</button>
  </mat-card-content>
</mat-card>
