<mat-card>
  <mat-card-content>
    <form [formGroup]="loginForm">
      <h2>Open Billing Portal</h2>
      <!-- <mat-error *ngIf="loginInvalid">
        The username and password were not recognised
      </mat-error> -->
      <mat-form-field class="full-width-input">
        <input matInput placeholder="Username" formControlName="username" required (blur)="login()">
        <mat-error>
          Please provide a valid Username
        </mat-error>
      </mat-form-field>
      <mat-form-field class="full-width-input">
        <input matInput type="password" placeholder="Password" formControlName="password" required (blur)="login()">
        <mat-error>
          Please provide a valid Password
        </mat-error>
      </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Company</mat-label>
          <mat-select formControlName="selectedCompany" name="userCompany"
           >
            <mat-option *ngFor="let company of showCompanyList" [value]="company.companyCode">
              {{company.companyName}}
            </mat-option>
          </mat-select>
        </mat-form-field>

      <mat-form-field class="full-width-input">
        <input matInput type="input" placeholder="Session Date" value="{{sessionDate | date: 'medium'}}" disabled>
          </mat-form-field>


      <button mat-raised-button color="primary" (click)="loginWithCompany()" >Login</button>
    </form>
  </mat-card-content>
</mat-card>
