<!--begin:: Widgets/Authors Profit-->
<m-portlet>
	<!-- use ng-container[mPortletHeadTitle] for the title -->
	<ng-container mPortletHeadTitle>
		<div class="m-widget4__info">
			<span>
				<b>Team Status</b>
			</span>
			<br>
			<span>
				View youe work team's overall work status here .
			</span>
		</div>
	</ng-container>

	<ng-container mPortletBody>

		<!--<div class="row">
			<div class="col-lg-6"><label>Users</label></div>
			<div class="col-lg-6"><label>Tasks</label></div>
		</div>
		<hr>-->
		<div class="row">
			<div class="col-lg-4"><label>Users</label></div>
			<div class="col-lg-2"><label>Overdue</label></div>
			<div class="col-lg-2"><label>Today's</label></div>
			<div class="col-lg-2"><label>All open</label></div>
			<div class="col-lg-2"><label>Close</label></div>
		</div>
		<hr>
		<div class="row" style="margin-bottom: -8px;">
			<div class="col-lg-1">
				<div>
					<img class="imgStyle" src="./assets/images/userProfile/100_1.jpg" alt="">
				</div>&nbsp;
			</div>
			<div class="col-lg-3">
				<div style="padding-left: 7px;">
					<span>Sandeep kumar Chaudhary</span>
				</div>
			</div>
			<div class="col-lg-2">
				<div style="padding-top: 10px;">
					<span>0000</span>
				</div>
			</div>
			<div class="col-lg-2">
				<div style="padding-top: 10px;">
					<span>0000</span>
				</div>
			</div>
			<div class="col-lg-2">
				<div style="padding-top: 10px;">
					<span>0000</span>
				</div>
			</div>
			<div class="col-lg-2">
				<div style="padding-top: 10px;">
					<span>0000</span>
				</div>
			</div>
		</div>
		<hr>

	</ng-container>
</m-portlet>
<!--end:: Widgets/Authors Profit-->
