<p>user-details works!</p>

<div class="container" fxLayout fxLayout.xs="column" fxLayoutAlign="left" fxlayoutGap="2em" fxLayoutGap.xs="0">
  <div class="item item-1" fxFlex="50%">
    <button color="primary" matButton matTooltip = "Add User"
            name="addUser"
            (click)="addUser()"><mat-icon>add_circle</mat-icon>Add User</button>
  </div>
</div>

<div class="container" fxLayout fxLayout.xs="column" fxLayoutAlign="left" fxlayoutGap="2em" fxLayoutGap.xs="0">
  <div class="item item-1" fxFlex="50%">
    <div class="overflow-auto">
      Test
    </div>
  </div>
</div>
