<div class="padding">
	<div style="height:5px;">
		<span *ngIf="(loaderShow)">
			<mat-progress-bar class="m-loading-bar" mode="indeterminate" *ngIf="(loaders.progress$|async) > 0"></mat-progress-bar>
		</span>
	</div>
	<div class="elevation border-radius overflow-hidden route-animations-elements">
		<fury-list name="Users" [columns]="columns" (filterChange)="onFilterChange($event)">

			<div class="actions">

				<button type="button" (click)="addUser()"   matTooltip="Add new role" style="border-radius:25px;" class="btn btn-outline-brand btn-sm">
					Add
				</button>
			</div>
			<mat-table #table [dataSource]="dataSource" matSort>
				<ng-container *ngFor="let column of columns">
					<ng-container *ngIf="column.isModelProperty" [matColumnDef]="column.property">
						<mat-header-cell *matHeaderCellDef mat-sort-header> {{ column.name }}</mat-header-cell>
						<mat-cell *matCellDef="let row">


							<ng-container *ngIf="column.name!='Status'; then usersdata; else Status">
							</ng-container>

							<ng-template #usersdata>
								<span class="fury-mobile-label">{{ column.name }}</span>{{ row[column.property] }}
							</ng-template>

							<ng-template #Status>
								<div *ngIf="row[column.property]!=undefined && row[column.property].length>0; else notDefined">
									<span class="m-badge m-badge--{{ getItemCssClassByStatus(row[column.property]) }} m-badge--wide">{{  getItemStatusString(row[column.property]) }}</span>
								</div>
								<ng-template #notDefined>
									<span class="fury-mobile-label">Not Defined</span>
								</ng-template>
							</ng-template>
						</mat-cell>
										</ng-container>
				</ng-container>
				<ng-container matColumnDef="actions">
					<mat-header-cell *matHeaderCellDef mat-sort-header>Action</mat-header-cell>
					<mat-cell *matCellDef="let row">
						<span class="fury-mobile-label"></span>
						<button type="button" mat-icon-button [matMenuTriggerFor]="actionsMenu" (click)="$event.stopPropagation()">
							<mat-icon>more_vert</mat-icon>
						</button>
						<mat-menu #actionsMenu="matMenu" yPosition="below" xPosition="before">
							<button (click)="editUser(row)" mat-menu-item><span>Modify</span>	</button>
							<button (click)="checkBeforeDeleteData(row)" mat-menu-item><span>Delete</span></button>
						</mat-menu>
					</mat-cell>
				</ng-container>
				<mat-header-row *matHeaderRowDef="visibleColumns"></mat-header-row>
				<mat-row *matRowDef="let row; columns: visibleColumns;" (click)="editUser(row)" class="clickable route-animations-elements"></mat-row>
			</mat-table>
			<mat-paginator class="paginator" [pageSize]="pageSize"></mat-paginator>
		</fury-list>

	</div>

</div>






<!--<mat-card style="height:25px;margin-top:-15px;">
	<div class="d-flex bd-highlight" style="margin-top:-27px;">
		<div class="mr-auto p-2 bd-highlight row" style="margin-top:6px;">
			<div class="m-portlet__head-title">
				<h5 class="m-portlet__head-text" style="margin-top:5px;">
					<span translate="ADMIN.ROLE.ROLE_LIST">Role list</span>
				</h5>
			</div>&nbsp; &nbsp; &nbsp;
			<span style="border-left: 1px solid;height:30px;padding-top:5px;">
				&nbsp; &nbsp; &nbsp;  Manage roles
			</span>
		</div>

		<div class="p-2 bd-highlight">
			<button (click)="addRole()" matTooltip="Create new role" type="button" style="border-radius:25px;margin-top:5px;" class="btn btn-outline-brand btn-sm">
				<span translate="ADMIN.ROLE.NEW_ROLE">New Role</span>
			</button>
		</div>
	</div>
</mat-card>

<mat-card class="matContent">

	<ng-container mPortletBody>

		<div class="m-form">

			<div class="m-form__filtration">
				<div class="row align-items-center">
					<div class="col-md-2 m--margin-bottom-10-mobile">
						<mat-form-field class="mat-form-field-fluid">
							<input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search role" #searchInput>

							<mat-hint align="start">
								<strong>Search</strong>
							</mat-hint>
						</mat-form-field>
					</div>

				</div>
			</div>

			<div class="row align-items-center collapse m-form__group-actions m--margin-top-20 m--margin-bottom-20"
				 [ngClass]="{'show' : selection.selected.length > 0}">

				<div class="col-xl-12">
					<div class="m-form__group m-form__group--inline">
						<div class="m-form__label m-form__label-no-wrap">
							<label class="m--font-bold m--font-danger-">
								<span translate="ADMIN.COMMON.SELECTED_RECORDS_COUNT"></span> {{ selection.selected.length }}
							</label>

						</div>
						<div class="m-form__control m-form__group--inline">
							<button (click)="deleteRoles()" matTooltip="Delete selected roles" style="border-radius:25px;" class="btn btn-outline-danger btn-sm">
								Delete Selected
							</button>&nbsp;
							&nbsp;

						</div>
					</div>
				</div>
			</div>

		</div>

		<div class="mat-table__wrapper">
			<mat-table class="lmat-elevation-z8" [dataSource]="dataSource" matSort matSortActive="id" matSortDirection="asc" matSortDisableClear>

				<ng-container matColumnDef="select">
					<mat-header-cell *matHeaderCellDef class="mat-column-checkbox">
						<mat-checkbox (change)="$event ? masterToggle() : null"
									  [checked]="selection.hasValue() && isAllSelected()"
									  [indeterminate]="selection.hasValue() && !isAllSelected()">
						</mat-checkbox>
					</mat-header-cell>
					<mat-cell *matCellDef="let row" class="mat-column-checkbox">
						<mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)">
						</mat-checkbox>
					</mat-cell>
				</ng-container>

				<ng-container matColumnDef="id">

					<mat-header-cell *matHeaderCellDef mat-sort-header>ID</mat-header-cell>
					<mat-cell *matCellDef="let role">{{role?.id}}</mat-cell>
				</ng-container>

				<ng-container matColumnDef="RoleName">
					<mat-header-cell *matHeaderCellDef mat-sort-header>Role Name</mat-header-cell>
					<mat-cell *matCellDef="let role">{{role?.RoleName}}</mat-cell>
				</ng-container>



				<ng-container matColumnDef="actions">
					<mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
					<mat-cell *matCellDef="let role">
						<button mat-icon-button color="primary" matTooltip="Edit role" (click)="editRole(role)"><mat-icon>create</mat-icon></button>&nbsp;
						<button mat-icon-button color="warn" matTooltip="Delete role" type="button" (click)="deleteRole(role)"><mat-icon>delete</mat-icon></button>&nbsp;
						<button mat-icon-button color="warn" matTooltip="Access permission" type="button" (click)="permission(role)"><mat-icon>lock</mat-icon></button>&nbsp;
						<button mat-icon-button [matMenuTriggerFor]="menu" matTooltip="More actions"><mat-icon>more_vert</mat-icon></button>
						<mat-menu #menu="matMenu">
							<button mat-menu-item><mat-icon>dialpad</mat-icon><span>Redial</span></button>
							<button mat-menu-item disabled><mat-icon>voicemail</mat-icon><span>Check voicemail</span></button>
							<button mat-menu-item><mat-icon>notifications_off</mat-icon><span>Disable alerts</span></button>
						</mat-menu>
					</mat-cell>
				</ng-container>

				<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

				<mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
			</mat-table>
			<div class="mat-table__message" *ngIf="dataSource.length<=0">No records found</div>
		</div>


		<div class="mat-table__bottom">

			<mat-spinner [diameter]="20" *ngIf="dataSource.loading$ | async"></mat-spinner>

			<mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 15]" [length]="dataSource.paginatorTotal$ | async" showFirstLastButtons></mat-paginator>
		</div>

	</ng-container>

</mat-card>-->
