<!--Begin::Section-->
<div class="row" (mouseover) ="mouseover($event)">
	<div class="col-xl-6 leftCol" >
		<m-recent-notifications></m-recent-notifications>
	</div>
	<div class="col-xl-6 rightCol">
		<m-tasks></m-tasks>
	</div>
</div>
<!--<div class="row" (mouseover) ="mouseover($event)">
	<div class="col-xl-6 leftCol">
     <m-overDueWorkItems></m-overDueWorkItems>
	</div>

	<div class="col-xl-6 rightCol">
     <m-timesheet-list></m-timesheet-list>
	</div>
</div>-->
<style>
	.row {
		margin-bottom: -22px;
		margin-right: 0px;
		margin-left: 0px;
	}
	.leftCol {
		padding-left: 0px;
		padding-right: 3px;
	}

	.rightCol {
		padding-left: 3px;
		padding-right: 0px;
	}
</style>
